


.tarjeta{
    width: 500px;
    height: 300px;
    overflow: hidden;
}

textarea{
    field-sizing: content;
    list-style: none;
    border: none;
    background: transparent;
    color: aliceblue;
}

.mensaje-tarjeta{
    /* background-color: black; */
    /* z-index: 100; */
    width: 400px;
    height: 300px;
    /* background-image: url(/img/fondo-1.jpg); */
    display: block;
    object-fit: cover;
    opacity: 50%;
}